<div class="col-md-8 col-md-offset-2">

<%= image_tag @photo.file_location.url, size: "700x700", class: "img-thumbnail" %><br>
<h3 class="lead"><%= @photo.title %></h3><br>


  <blockquote>
  <dd><span class="glyphicon glyphicon-calendar"></span><%= @photo.date %></dd>
  <footer><dd><%= simple_format(@photo.description) %></dd></footer>
  </blockquote>

<nav>
<ul class="pager">
<li><%= link_to 'Back to index', photos_path %></li>
</ul>
</nav>
</div>